.category-list {
  max-height: 190px;
  width: fit-content;

  h4 {
    margin-bottom: 5px;
  }

  .category-items-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .category-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 175px;
      .category-item {
        display: flex;
        margin: 4px 5px;
        .category-color {
          height: 20px;
          width: 20px;
          border-radius: 50px;
          margin-right: 8px;
        }
        .category-name {
        }
      }
    }
  }
}
