.transactionsW {
  padding: 10px;
  font-size: normal;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin: 20px 20px 0 0;

  .title {
    font-size: 13px;
    font-weight: bold;
  }

  .amount {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  .goal {
    font-size: 13px;
  }
}
